.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-a .q1rm_q-el {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-b .q1rm_q-el {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="ubuntu"] .q1ue_q-c .q1rm_q-el {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text p {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text span {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text a {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text li {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text u {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text b {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text i {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text ul {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="ubuntu"] .q1ro_q-letter-content-text {
  font-family: "Ubuntu";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-a .q1rm_q-el {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-b .q1rm_q-el {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="raleway"] .q1ue_q-c .q1rm_q-el {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text p {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text span {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text a {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text li {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text u {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text b {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text i {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text ul {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="raleway"] .q1ro_q-letter-content-text {
  font-family: "Raleway";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-a .q1rm_q-el {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-b .q1rm_q-el {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="roboto"] .q1ue_q-c .q1rm_q-el {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text p {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text span {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text a {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text li {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text u {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text b {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text i {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text ul {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="roboto"] .q1ro_q-letter-content-text {
  font-family: "Roboto";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-a .q1rm_q-el {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-b .q1rm_q-el {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="quicksand"] .q1ue_q-c .q1rm_q-el {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text p {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text span {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text a {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text li {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text u {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text b {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text i {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text ul {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="quicksand"] .q1ro_q-letter-content-text {
  font-family: "Quicksand";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-a .q1rm_q-el {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-b .q1rm_q-el {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="overpass"] .q1ue_q-c .q1rm_q-el {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text p {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text span {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text a {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text li {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text u {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text b {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text i {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text ul {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="overpass"] .q1ro_q-letter-content-text {
  font-family: "Overpass";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-a .q1rm_q-el {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-b .q1rm_q-el {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ue_q-c .q1rm_q-el {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text p {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text span {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text a {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text li {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text u {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text b {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text i {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text ul {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="merriweatherSans"] .q1ro_q-letter-content-text {
  font-family: "Merriweather Sans";
}

.q1ul_q[q1ue_q-option="hind"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-a .q1rm_q-el {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-b .q1rm_q-el {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="hind"] .q1ue_q-c .q1rm_q-el {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text p {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text span {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text a {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text li {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text u {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text b {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text i {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text ul {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="hind"] .q1ro_q-letter-content-text {
  font-family: "Hind";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-a .q1rm_q-el {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-b .q1rm_q-el {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="cormorant"] .q1ue_q-c .q1rm_q-el {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text p {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text span {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text a {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text li {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text u {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text b {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text i {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text ul {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="cormorant"] .q1ro_q-letter-content-text {
  font-family: "Cormorant Garamond";
}

.q1ul_q[q1ue_q-option="lora"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-a .q1rm_q-el {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-b .q1rm_q-el {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="lora"] .q1ue_q-c .q1rm_q-el {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text p {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text span {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text a {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text li {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text u {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text b {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text i {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text ul {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="lora"] .q1ro_q-letter-content-text {
  font-family: "Lora";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-a .q1rm_q-el {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-b .q1rm_q-el {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="rokkitt"] .q1ue_q-c .q1rm_q-el {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text p {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text span {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text a {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text li {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text u {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text b {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text i {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text ul {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="rokkitt"] .q1ro_q-letter-content-text {
  font-family: "Rokkitt";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-a .q1rm_q-el {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-b .q1rm_q-el {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="merriweather"] .q1ue_q-c .q1rm_q-el {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text p {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text span {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text a {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text li {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text u {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text b {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text i {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text ul {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="merriweather"] .q1ro_q-letter-content-text {
  font-family: "Merriweather";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-a,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-a .q1rm_q,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-a .q1rm_q-el {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-b,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-b .q1rm_q,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-b .q1rm_q-el {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-c,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-c .q1rm_q,
.q1ul_q[q1ue_q-option="lusitana"] .q1ue_q-c .q1rm_q-el {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text p {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text span {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text a {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text li {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text u {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text b {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text i {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text ul {
  font-family: "Lusitana";
}

.q1ul_q[q1ue_q-option="lusitana"] .q1ro_q-letter-content-text {
  font-family: "Lusitana";
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q
  .xslot1[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q
  .xslot2[q1hm_q-level="0"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="0"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q .xslot2[q1hm_q-level="0"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="0"] .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q .xslot2[q1hm_q-level="0"] .q1kn_q.q1aw_q {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="0"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q .xslot2[q1hm_q-level="0"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="0"] .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q .xslot2[q1hm_q-level="0"] .q1kn_q.q1kw_q {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="0"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q .xslot2[q1hm_q-level="0"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1aw_q {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1aw_q {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kw_q {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kw_q {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 4.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 4.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1aw_q {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1aw_q {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kw_q {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kw_q {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q
  .xslot1[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 2px;
}

.q1ul_q
  .xslot2[q1hm_q-level="1"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 2px;
}

.q1ul_q .xslot1[q1hm_q-level="1"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 6px;
}

.q1ul_q .xslot2[q1hm_q-level="1"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 6px;
}

.q1ul_q .xslot1[q1hm_q-level="1"] .q1kn_q.q1aw_q {
  padding-bottom: 4px;
}

.q1ul_q .xslot2[q1hm_q-level="1"] .q1kn_q.q1aw_q {
  padding-bottom: 4px;
}

.q1ul_q .xslot1[q1hm_q-level="1"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot2[q1hm_q-level="1"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot1[q1hm_q-level="1"] .q1kn_q.q1kw_q {
  padding-bottom: 4px;
}

.q1ul_q .xslot2[q1hm_q-level="1"] .q1kn_q.q1kw_q {
  padding-bottom: 4px;
}

.q1ul_q .xslot1[q1hm_q-level="1"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot2[q1hm_q-level="1"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1aw_q {
  padding-bottom: 4px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1aw_q {
  padding-bottom: 4px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kw_q {
  padding-bottom: 4px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kw_q {
  padding-bottom: 4px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1aw_q {
  padding-bottom: 6px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1aw_q {
  padding-bottom: 6px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kw_q {
  padding-bottom: 6px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kw_q {
  padding-bottom: 6px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 1.5px;
}

.q1ul_q
  .xslot1[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q
  .xslot2[q1hm_q-level="2"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 0px;
}

.q1ul_q .xslot1[q1hm_q-level="2"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 10px;
}

.q1ul_q .xslot2[q1hm_q-level="2"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 10px;
}

.q1ul_q .xslot1[q1hm_q-level="2"] .q1kn_q.q1aw_q {
  padding-bottom: 8px;
}

.q1ul_q .xslot2[q1hm_q-level="2"] .q1kn_q.q1aw_q {
  padding-bottom: 8px;
}

.q1ul_q .xslot1[q1hm_q-level="2"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot2[q1hm_q-level="2"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot1[q1hm_q-level="2"] .q1kn_q.q1kw_q {
  padding-bottom: 8px;
}

.q1ul_q .xslot2[q1hm_q-level="2"] .q1kn_q.q1kw_q {
  padding-bottom: 8px;
}

.q1ul_q .xslot1[q1hm_q-level="2"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q .xslot2[q1hm_q-level="2"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 7px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 7px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1aw_q {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1aw_q {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kw_q {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kw_q {
  padding-bottom: 5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1rp_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 2px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 1.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 10.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kn_q-simple {
  padding-bottom: 10.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1aw_q {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1aw_q {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1aw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kw_q {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kw_q {
  padding-bottom: 7.5px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 3px;
}

.q1ul_q-wrapper[data-q1ur_q="q1xg_q"]
  .q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q.q1kw_q
  .q1yr_q
  .q1yz_q-el-content {
  padding-bottom: 3px;
}

.q1ul_q
  .xslot1[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 2px;
}

.q1ul_q
  .xslot2[q1hm_q-level="3"]
  .q1kn_q
  .q1yz_q-section-header
  .q1kn_q-header-holder {
  padding-bottom: 2px;
}

.q1ul_q .xslot1[q1hm_q-level="3"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 14px;
}

.q1ul_q .xslot2[q1hm_q-level="3"] .q1kn_q.q1kn_q-simple {
  padding-bottom: 14px;
}

.q1ul_q .xslot1[q1hm_q-level="3"] .q1kn_q.q1aw_q {
  padding-bottom: 10px;
}

.q1ul_q .xslot2[q1hm_q-level="3"] .q1kn_q.q1aw_q {
  padding-bottom: 10px;
}

.q1ul_q .xslot1[q1hm_q-level="3"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 10px;
}

.q1ul_q .xslot2[q1hm_q-level="3"] .q1kn_q.q1aw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 10px;
}

.q1ul_q .xslot1[q1hm_q-level="3"] .q1kn_q.q1kw_q {
  padding-bottom: 10px;
}

.q1ul_q .xslot2[q1hm_q-level="3"] .q1kn_q.q1kw_q {
  padding-bottom: 10px;
}

.q1ul_q .xslot1[q1hm_q-level="3"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 4px;
}

.q1ul_q .xslot2[q1hm_q-level="3"] .q1kn_q.q1kw_q .q1yr_q .q1yz_q-el-content {
  padding-bottom: 4px;
}

#edu .q1yz_q-el-place .q1ue_q-size-c,
#work .q1yz_q-el-place .q1ue_q-size-c {
  font-size: 17px !important;
}
