// Base Class Definition
// -------------------------

.{$sli-css-prefix}
  display inline-block
  font normal normal normal $sli-font-size-base/$sli-line-height-base Simple-Line-Icons // shortening font declaration
  font-size inherit
  text-rendering auto // optimizelegibility throws things off #1094
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
