/*! Simple-Line-Icons */

.#{$sli-css-prefix}-user-female {
    &:before {
        content: $sli-user-female;
    }
}

.#{$sli-css-prefix}-user-follow {
    &:before {
        content: $sli-user-follow;
    }
}

.#{$sli-css-prefix}-user-following {
    &:before {
        content: $sli-user-following;
    }
}

.#{$sli-css-prefix}-user-unfollow {
    &:before {
        content: $sli-user-unfollow;
    }
}

.#{$sli-css-prefix}-trophy {
    &:before {
        content: $sli-trophy;
    }
}

.#{$sli-css-prefix}-screen-smartphone {
    &:before {
        content: $sli-screen-smartphone;
    }
}

.#{$sli-css-prefix}-screen-desktop {
    &:before {
        content: $sli-screen-desktop;
    }
}

.#{$sli-css-prefix}-plane {
    &:before {
        content: $sli-plane;
    }
}

.#{$sli-css-prefix}-notebook {
    &:before {
        content: $sli-notebook
    }
}

.#{$sli-css-prefix}-moustache {
    &:before {
        content: $sli-moustache;
    }
}

.#{$sli-css-prefix}-mouse {
    &:before {
        content: $sli-mouse;
    }
}

.#{$sli-css-prefix}-magnet {
    &:before {
        content: $sli-magnet;
    }
}

.#{$sli-css-prefix}-energy {
    &:before {
        content: $sli-energy;
    }
}

.#{$sli-css-prefix}-emoticon-smile {
    &:before {
        content: $sli-emoticon-smile
    }
}

.#{$sli-css-prefix}-disc {
    &:before {
        content: $sli-disc;
    }
}

.#{$sli-css-prefix}-cursor-move {
    &:before {
        content: $sli-cursor-move;
    }
}

.#{$sli-css-prefix}-crop {
    &:before {
        content: $sli-crop;
    }
}

.#{$sli-css-prefix}-credit-card {
    &:before {
        content: $sli-credit-card;
    }
}

.#{$sli-css-prefix}-chemistry {
    &:before {
        content: $sli-chemistry;
    }
}

.#{$sli-css-prefix}-user {
    &:before {
        content: $sli-user;
    }
}

.#{$sli-css-prefix}-speedometer {
    &:before {
        content: $sli-speedometer;
    }
}

.#{$sli-css-prefix}-social-youtube {
    &:before {
        content: $sli-social-youtube;
    }
}

.#{$sli-css-prefix}-social-twitter {
    &:before {
        content: $sli-social-twitter;
    }
}

.#{$sli-css-prefix}-social-tumblr {
    &:before {
        content: $sli-social-tumblr;
    }
}

.#{$sli-css-prefix}-social-facebook {
    &:before {
        content: $sli-social-facebook;
    }
}

.#{$sli-css-prefix}-social-dropbox {
    &:before {
        content: $sli-social-dropbox;
    }
}

.#{$sli-css-prefix}-social-dribbble {
    &:before {
        content: $sli-social-dribbble;
    }
}

.#{$sli-css-prefix}-shield {
    &:before {
        content: $sli-shield;
    }
}

.#{$sli-css-prefix}-screen-tablet {
    &:before {
        content: $sli-screen-tablet;
    }
}

.#{$sli-css-prefix}-magic-wand {
    &:before {
        content: $sli-magic-wand;
    }
}

.#{$sli-css-prefix}-hourglass {
    &:before {
        content: $sli-hourglass;
    }
}

.#{$sli-css-prefix}-graduation {
    &:before {
        content: $sli-graduation;
    }
}

.#{$sli-css-prefix}-ghost {
    &:before {
        content: $sli-ghost;
    }
}

.#{$sli-css-prefix}-game-controller {
    &:before {
        content: $sli-game-controller;
    }
}

.#{$sli-css-prefix}-fire {
    &:before {
        content: $sli-fire;
    }
}

.#{$sli-css-prefix}-eyeglasses {
    &:before {
        content: $sli-eyeglasses;
    }
}

.#{$sli-css-prefix}-envelope-open {
    &:before {
        content: $sli-envelope-open;
    }
}

.#{$sli-css-prefix}-envelope-letter {
    &:before {
        content: $sli-envelope-letter;
    }
}

.#{$sli-css-prefix}-bell {
    &:before {
        content: $sli-bell;
    }
}

.#{$sli-css-prefix}-badge {
    &:before {
        content: $sli-badge;
    }
}

.#{$sli-css-prefix}-anchor {
    &:before {
        content: $sli-anchor;
    }
}

.#{$sli-css-prefix}-wallet {
    &:before {
        content: $sli-wallet;
    }
}

.#{$sli-css-prefix}-vector {
    &:before {
        content: $sli-vector;
    }
}

.#{$sli-css-prefix}-speech {
    &:before {
        content: $sli-speech;
    }
}

.#{$sli-css-prefix}-puzzle {
    &:before {
        content: $sli-puzzle;
    }
}

.#{$sli-css-prefix}-printer {
    &:before {
        content: $sli-printer;
    }
}

.#{$sli-css-prefix}-present {
    &:before {
        content: $sli-present;
    }
}

.#{$sli-css-prefix}-playlist {
    &:before {
        content: $sli-playlist;
    }
}

.#{$sli-css-prefix}-pin {
    &:before {
        content: $sli-pin;
    }
}

.#{$sli-css-prefix}-picture {
    &:before {
        content: $sli-picture;
    }
}

.#{$sli-css-prefix}-map {
    &:before {
        content: $sli-map;
    }
}

.#{$sli-css-prefix}-layers {
    &:before {
        content: $sli-layers;
    }
}

.#{$sli-css-prefix}-handbag {
    &:before {
        content: $sli-handbag;
    }
}

.#{$sli-css-prefix}-globe-alt {
    &:before {
        content: $sli-globe-alt;
    }
}

.#{$sli-css-prefix}-globe {
    &:before {
        content: $sli-globe;
    }
}

.#{$sli-css-prefix}-frame {
    &:before {
        content: $sli-frame;
    }
}

.#{$sli-css-prefix}-folder-alt {
    &:before {
        content: $sli-folder-alt;
    }
}

.#{$sli-css-prefix}-film {
    &:before {
        content: $sli-film;
    }
}

.#{$sli-css-prefix}-feed {
    &:before {
        content: $sli-feed;
    }
}

.#{$sli-css-prefix}-earphones-alt {
    &:before {
        content: $sli-earphones-alt;
    }
}

.#{$sli-css-prefix}-earphones {
    &:before {
        content: $sli-earphones;
    }
}

.#{$sli-css-prefix}-drop {
    &:before {
        content: $sli-drop;
    }
}

.#{$sli-css-prefix}-drawer {
    &:before {
        content: $sli-drawer;
    }
}

.#{$sli-css-prefix}-docs {
    &:before {
        content: $sli-docs;
    }
}

.#{$sli-css-prefix}-directions {
    &:before {
        content: $sli-directions;
    }
}

.#{$sli-css-prefix}-direction {
    &:before {
        content: $sli-direction;
    }
}

.#{$sli-css-prefix}-diamond {
    &:before {
        content: $sli-diamond;
    }
}

.#{$sli-css-prefix}-cup {
    &:before {
        content: $sli-cup;
    }
}

.#{$sli-css-prefix}-compass {
    &:before {
        content: $sli-compass;
    }
}

.#{$sli-css-prefix}-call-out {
    &:before {
        content: $sli-call-out;
    }
}

.#{$sli-css-prefix}-call-in {
    &:before {
        content: $sli-call-in;
    }
}

.#{$sli-css-prefix}-call-end {
    &:before {
        content: $sli-call-end;
    }
}

.#{$sli-css-prefix}-calculator {
    &:before {
        content: $sli-calculator;
    }
}

.#{$sli-css-prefix}-bubbles {
    &:before {
        content: $sli-bubbles;
    }
}

.#{$sli-css-prefix}-briefcase {
    &:before {
        content: $sli-briefcase;
    }
}

.#{$sli-css-prefix}-book-open {
    &:before {
        content: $sli-book-open;
    }
}

.#{$sli-css-prefix}-basket-loaded {
    &:before {
        content: $sli-basket-loaded;
    }
}

.#{$sli-css-prefix}-basket {
    &:before {
        content: $sli-basket;
    }
}

.#{$sli-css-prefix}-bag {
    &:before {
        content: $sli-bag;
    }

}

.#{$sli-css-prefix}-action-undo {
    &:before {
        content: $sli-action-undo;
    }
}

.#{$sli-css-prefix}-action-redo {
    &:before {
        content: $sli-action-redo;
    }
}

.#{$sli-css-prefix}-wrench {
    &:before {
        content: $sli-wrench;
    }
}

.#{$sli-css-prefix}-umbrella {
    &:before {
        content: $sli-umbrella;
    }
}

.#{$sli-css-prefix}-trash {
    &:before {
        content: $sli-trash;
    }
}

.#{$sli-css-prefix}-tag {
    &:before {
        content: $sli-tag;
    }
}

.#{$sli-css-prefix}-support {
    &:before {
        content: $sli-support;
    }
}

.#{$sli-css-prefix}-size-fullscreen {
    &:before {
        content: $sli-size-fullscreen;
    }
}

.#{$sli-css-prefix}-size-actual {
    &:before {
        content: $sli-size-actual;
    }
}

.#{$sli-css-prefix}-shuffle {
    &:before {
        content: $sli-shuffle;
    }
}

.#{$sli-css-prefix}-share-alt {
    &:before {
        content: $sli-share-alt;
    }
}

.#{$sli-css-prefix}-share {
    &:before {
        content: $sli-share;
    }
}

.#{$sli-css-prefix}-rocket {
    &:before {
        content: $sli-rocket;
    }
}

.#{$sli-css-prefix}-question {
    &:before {
        content: $sli-question;
    }
}

.#{$sli-css-prefix}-pie-chart {
    &:before {
        content: $sli-pie-chart;
    }
}

.#{$sli-css-prefix}-pencil {
    &:before {
        content: $sli-pencil;
    }
}

.#{$sli-css-prefix}-note {
    &:before {
        content: $sli-note;
    }
}

.#{$sli-css-prefix}-music-tone-alt {
    &:before {
        content: $sli-music-tone-alt;
    }
}

.#{$sli-css-prefix}-music-tone {
    &:before {
        content: $sli-music-tone;
    }
}

.#{$sli-css-prefix}-microphone {
    &:before {
        content: $sli-microphone;
    }
}

.#{$sli-css-prefix}-loop {
    &:before {
        content: $sli-loop;
    }
}

.#{$sli-css-prefix}-logout {
    &:before {
        content: $sli-logout;
    }
}

.#{$sli-css-prefix}-login {
    &:before {
        content: $sli-login;
    }
}

.#{$sli-css-prefix}-list {
    &:before {
        content: $sli-list;
    }
}

.#{$sli-css-prefix}-like {
    &:before {
        content: $sli-like;
    }
}

.#{$sli-css-prefix}-home {
    &:before {
        content: $sli-home;
    }
}

.#{$sli-css-prefix}-grid {
    &:before {
        content: $sli-grid;
    }
}

.#{$sli-css-prefix}-graph {
    &:before {
        content: $sli-graph;
    }
}

.#{$sli-css-prefix}-equalizer {
    &:before {
        content: $sli-equalizer;
    }
}

.#{$sli-css-prefix}-dislike {
    &:before {
        content: $sli-dislike;
    }
}

.#{$sli-css-prefix}-cursor {
    &:before {
        content: $sli-cursor;
    }
}

.#{$sli-css-prefix}-control-start {
    &:before {
        content: $sli-control-start;
    }
}

.#{$sli-css-prefix}-control-rewind {
    &:before {
        content: $sli-control-rewind;
    }
}

.#{$sli-css-prefix}-control-play {
    &:before {
        content: $sli-control-play;
    }
}

.#{$sli-css-prefix}-control-pause {
    &:before {
        content: $sli-control-pause;
    }
}

.#{$sli-css-prefix}-control-forward {
    &:before {
        content: $sli-control-forward;
    }
}

.#{$sli-css-prefix}-control-end {
    &:before {
        content: $sli-control-end;
    }
}

.#{$sli-css-prefix}-calendar {
    &:before {
        content: $sli-calendar;
    }
}

.#{$sli-css-prefix}-bulb {
    &:before {
        content: $sli-bulb;
    }
}

.#{$sli-css-prefix}-bar-chart {
    &:before {
        content: $sli-bar-chart;
    }
}

.#{$sli-css-prefix}-arrow-up {
    &:before {
        content: $sli-arrow-up;
    }
}

.#{$sli-css-prefix}-arrow-right {
    &:before {
        content: $sli-arrow-right;
    }
}

.#{$sli-css-prefix}-arrow-left {
    &:before {
        content: $sli-arrow-left;
    }
}

.#{$sli-css-prefix}-arrow-down {
    &:before {
        content: $sli-arrow-down;
    }
}

.#{$sli-css-prefix}-ban {
    &:before {
        content: $sli-ban;
    }
}

.#{$sli-css-prefix}-bubble {
    &:before {
        content: $sli-bubble;
    }
}

.#{$sli-css-prefix}-camcorder {
    &:before {
        content: $sli-camcorder;
    }
}

.#{$sli-css-prefix}-camera {
    &:before {
        content: $sli-camera;
    }
}

.#{$sli-css-prefix}-check {
    &:before {
        content: $sli-check;
    }
}

.#{$sli-css-prefix}-clock {
    &:before {
        content: $sli-clock;
    }
}

.#{$sli-css-prefix}-close {
    &:before {
        content: $sli-close;
    }
}

.#{$sli-css-prefix}-cloud-download {
    &:before {
        content: $sli-cloud-download;
    }
}

.#{$sli-css-prefix}-cloud-upload {
    &:before {
        content: $sli-cloud-upload;
    }
}

.#{$sli-css-prefix}-doc {
    &:before {
        content: $sli-doc;
    }
}

.#{$sli-css-prefix}-envelope {
    &:before {
        content: $sli-envelope;
    }
}

.#{$sli-css-prefix}-eye {
    &:before {
        content: $sli-eye;
    }
}

.#{$sli-css-prefix}-flag {
    &:before {
        content: $sli-flag;
    }
}

.#{$sli-css-prefix}-folder {
    &:before {
        content: $sli-folder;
    }
}

.#{$sli-css-prefix}-heart {
    &:before {
        content: $sli-heart;
    }
}

.#{$sli-css-prefix}-info {
    &:before {
        content: $sli-info;
    }
}

.#{$sli-css-prefix}-key {
    &:before {
        content: $sli-key;
    }
}

.#{$sli-css-prefix}-link {
    &:before {
        content: $sli-link;
    }
}

.#{$sli-css-prefix}-lock {
    &:before {
        content: $sli-lock;
    }
}

.#{$sli-css-prefix}-lock-open {
    &:before {
        content: $sli-lock-open;
    }
}

.#{$sli-css-prefix}-magnifier {
    &:before {
        content: $sli-magnifier;
    }
}

.#{$sli-css-prefix}-magnifier-add {
    &:before {
        content: $sli-magnifier-add;
    }
}

.#{$sli-css-prefix}-magnifier-remove {
    &:before {
        content: $sli-magnifier-remove;
    }
}

.#{$sli-css-prefix}-paper-clip {
    &:before {
        content: $sli-paper-clip;
    }
}

.#{$sli-css-prefix}-paper-plane {
    &:before {
        content: $sli-paper-plane;
    }
}

.#{$sli-css-prefix}-plus {
    &:before {
        content: $sli-plus;
    }
}

.#{$sli-css-prefix}-pointer {
    &:before {
        content: $sli-pointer;
    }
}

.#{$sli-css-prefix}-power {
    &:before {
        content: $sli-power;
    }
}

.#{$sli-css-prefix}-refresh {
    &:before {
        content: $sli-refresh;
    }
}

.#{$sli-css-prefix}-reload {
    &:before {
        content: $sli-reload;
    }
}

.#{$sli-css-prefix}-settings {
    &:before {
        content: $sli-settings;
    }
}

.#{$sli-css-prefix}-star {
    &:before {
        content: $sli-star;
    }
}

.#{$sli-css-prefix}-symbol-female {
    &:before {
        content: $sli-symbol-female;
    }
}

.#{$sli-css-prefix}-symbol-male {
    &:before {
        content: $sli-symbol-male;
    }
}

.#{$sli-css-prefix}-target {
    &:before {
        content: $sli-target;
    }
}

.#{$sli-css-prefix}-volume-1 {
    &:before {
        content: $sli-volume-1;
    }
}

.#{$sli-css-prefix}-volume-2 {
    &:before {
        content: $sli-volume-2;
    }
}

.#{$sli-css-prefix}-volume-off {
    &:before {
        content: $sli-volume-off;
    }
}

.#{$sli-css-prefix}-users {
    &:before {
        content: $sli-users;
    }
}
