// List Icons
// -------------------------

.#{$sli-css-prefix}-ul {
  padding-left: 0;
  margin-left: $sli-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$sli-css-prefix}-li {
  position: absolute;
  left: -$sli-li-width;
  width: $sli-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$sli-css-prefix}-lg {
    left: -$sli-li-width + (4em / 14);
  }
}
