/* FONT PATH
 * -------------------------- */

@font-face {
  font-family: 'Simple-Line-Icons';
  src: url('#{$sli-font-path}/Simple-Line-Icons.eot?v=#{$sli-version}');
  src: url('#{$sli-font-path}/Simple-Line-Icons.eot?#iefix&v=#{$sli-version}') format('embedded-opentype'),
    url('#{$sli-font-path}/Simple-Line-Icons.woff2?v=#{$sli-version}') format('woff2'),
    url('#{$sli-font-path}/Simple-Line-Icons.woff?v=#{$sli-version}') format('woff'),
    url('#{$sli-font-path}/Simple-Line-Icons.ttf?v=#{$sli-version}') format('truetype'),
    url('#{$sli-font-path}/Simple-Line-Icons.svg?v=#{$sli-version}#simplelineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
