/*!
 *  Simple Line Icons 0.0.1 by GraphicBurger - http://graphicburger.com/simple-line-icons-webfont/ (Font: SIL OFL 1.1, CSS: MIT License)
 *  Big thanks to Jamal Jama for creating this awesome webfont - @byjml
 */

@import "variables"
@import "mixins"
@import "path"
@import "core"
@import "larger"
@import "fixed-width"
@import "list"
@import "bordered-pulled"
@import "animated"
@import "rotated-flipped"
@import "stacked"
@import "icons"
