// Variables
// --------------------------

$sli-font-path ?=        "../fonts"
$sli-font-size-base ?=   14px
$sli-line-height-base ?= 1
$sli-css-prefix ?=       sli
$sli-version =           "0.0.1"
$sli-border-color ?=     #eee
$sli-inverse ?=          #fff
$sli-li-width ?=         (30em / 14)


$sli-user-female = "\e000"
$sli-user-follow = "\e002"
$sli-user-following = "\e003"
$sli-user-unfollow = "\e004"
$sli-trophy = "\e006"
$sli-screen-smartphone = "\e010"
$sli-screen-desktop = "\e011"
$sli-plane = "\e012"
$sli-notebook = "\e013"
$sli-moustache = "\e014"
$sli-mouse = "\e015"
$sli-magnet = "\e016"
$sli-energy = "\e020"
$sli-emoticon-smile = "\e021"
$sli-disc = "\e022"
$sli-cursor-move = "\e023"
$sli-crop = "\e024"
$sli-credit-card = "\e025"
$sli-chemistry = "\e026"
$sli-user = "\e005"
$sli-speedometer = "\e007"
$sli-social-youtube = "\e008"
$sli-social-twitter = "\e009"
$sli-social-tumblr = "\e00a"
$sli-social-facebook = "\e00b"
$sli-social-dropbox = "\e00c"
$sli-social-dribbble = "\e00d"
$sli-shield = "\e00e"
$sli-screen-tablet = "\e00f"
$sli-magic-wand = "\e017"
$sli-hourglass = "\e018"
$sli-graduation = "\e019"
$sli-ghost = "\e01a"
$sli-game-controller = "\e01b"
$sli-fire = "\e01c"
$sli-eyeglasses = "\e01d"
$sli-envelope-open = "\e01e"
$sli-envelope-letter = "\e01f"
$sli-bell = "\e027"
$sli-badge = "\e028"
$sli-anchor = "\e029"
$sli-wallet = "\e02a"
$sli-vector = "\e02b"
$sli-speech = "\e02c"
$sli-puzzle = "\e02d"
$sli-printer = "\e02e"
$sli-present = "\e02f"
$sli-playlist = "\e030"
$sli-pin = "\e031"
$sli-picture = "\e032"
$sli-map = "\e033"
$sli-layers = "\e034"
$sli-handbag = "\e035"
$sli-globe-alt = "\e036"
$sli-globe = "\e037"
$sli-frame = "\e038"
$sli-folder-alt = "\e039"
$sli-film = "\e03a"
$sli-feed = "\e03b"
$sli-earphones-alt = "\e03c"
$sli-earphones = "\e03d"
$sli-drop = "\e03e"
$sli-drawer = "\e03f"
$sli-docs = "\e040"
$sli-directions = "\e041"
$sli-direction = "\e042"
$sli-diamond = "\e043"
$sli-cup = "\e044"
$sli-compass = "\e045"
$sli-call-out = "\e046"
$sli-call-in = "\e047"
$sli-call-end = "\e048"
$sli-calculator = "\e049"
$sli-bubbles = "\e04a"
$sli-briefcase = "\e04b"
$sli-book-open = "\e04c"
$sli-basket-loaded = "\e04d"
$sli-basket = "\e04e"
$sli-bag = "\e04f"
$sli-action-undo = "\e050"
$sli-action-redo = "\e051"
$sli-wrench = "\e052"
$sli-umbrella = "\e053"
$sli-trash = "\e054"
$sli-tag = "\e055"
$sli-support = "\e056"
$sli-size-fullscreen = "\e057"
$sli-size-actual = "\e058"
$sli-shuffle = "\e059"
$sli-share-alt = "\e05a"
$sli-share = "\e05b"
$sli-rocket = "\e05c"
$sli-question = "\e05d"
$sli-pie-chart = "\e05e"
$sli-pencil = "\e05f"
$sli-note = "\e060"
$sli-music-tone-alt = "\e061"
$sli-music-tone = "\e062"
$sli-microphone = "\e063"
$sli-loop = "\e064"
$sli-logout = "\e065"
$sli-login = "\e066"
$sli-list = "\e067"
$sli-like = "\e068"
$sli-home = "\e069"
$sli-grid = "\e06a"
$sli-graph = "\e06b"
$sli-equalizer = "\e06c"
$sli-dislike = "\e06d"
$sli-cursor = "\e06e"
$sli-control-start = "\e06f"
$sli-control-rewind = "\e070"
$sli-control-play = "\e071"
$sli-control-pause = "\e072"
$sli-control-forward = "\e073"
$sli-control-end = "\e074"
$sli-calendar = "\e075"
$sli-bulb = "\e076"
$sli-bar-chart = "\e077"
$sli-arrow-up = "\e078"
$sli-arrow-right = "\e079"
$sli-arrow-left = "\e07a"
$sli-arrow-down = "\e07b"
$sli-ban = "\e07c"
$sli-bubble = "\e07d"
$sli-camcorder = "\e07e"
$sli-camera = "\e07f"
$sli-check = "\e080"
$sli-clock = "\e081"
$sli-close = "\e082"
$sli-cloud-download = "\e083"
$sli-cloud-upload = "\e084"
$sli-doc = "\e085"
$sli-envelope = "\e086"
$sli-eye = "\e087"
$sli-flag = "\e088"
$sli-folder = "\e089"
$sli-heart = "\e08a"
$sli-info = "\e08b"
$sli-key = "\e08c"
$sli-link = "\e08d"
$sli-lock = "\e08e"
$sli-lock-open = "\e08f"
$sli-magnifier = "\e090"
$sli-magnifier-add = "\e091"
$sli-magnifier-remove = "\e092"
$sli-paper-clip = "\e093"
$sli-paper-plane = "\e094"
$sli-plus = "\e095"
$sli-pointer = "\e096"
$sli-power = "\e097"
$sli-refresh = "\e098"
$sli-reload = "\e099"
$sli-settings = "\e09a"
$sli-star = "\e09b"
$sli-symbol-female = "\e09c"
$sli-symbol-male = "\e09d"
$sli-target = "\e09e"
$sli-volume-1 = "\e09f"
$sli-volume-2 = "\e0a0"
$sli-volume-off = "\e0a1"
$sli-users = "\e001"